# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local development database
db.sqlite3
db.sqlite3-journal

# Environment variables and secrets
.env
.venv/
env/
venv/
ENV/

# Django-specific files
*.log
local_settings.py
media/
static/

# IDE-specific (Optional but recommended)
.vscode/
.idea/
*.swp

node_modules/